@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Platypi", serif;
}
.container{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;

}
.left--container{
  width: 20%;
  height:700px;
  display: flex;
  border-right: .5px solid rgb(189, 195, 199);

}
.right--container{
  width: 80%;
  height: 700px;
  display: flex;
  flex-direction: column;
 

}

.trash{
  width: 20px;
  height: 20px;
}
.header{
  padding:18px;
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: .5px solid rgb(189, 195, 199); ;
}
.dashboard--header{
   justify-content: end;
}
.right--header{
  justify-content: start;
  column-gap: 60px;
}
.note__pad--icon{
  width: 20px;
  height: 20px;

}
.select--input{
  height: 22px;
  border-radius: 8px;
 box-shadow: .5px .5px 8px rgb(189, 195, 199) ;
 display: flex;
 justify-content: center;
 align-items: center;
}
.list--info{
  display: flex;
  column-gap: 40px;

}
.completed--info,.all--info,.open--info{
  font-size: 12px;
  
}
.count--list{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
}

.item--info{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}
.text--input{
  height: 100%;
  width: 100%;
  border: .5px solid  rgb(189, 195, 199);
  padding-bottom: 580px;
  padding-left: 20px;
  word-wrap: break-word;
  word-break: break-word;
}
