@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.container{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;

}
.left--container{
  width: 20%;
  transition: all .3s ease-in;
  display: flex;
  border-right: .5px solid rgb(189, 195, 199);
  flex-direction: column;

}
.storage--block{
  width: 100%;
  height: 633px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 8px;
  row-gap: 4px;

}
.right--container{
  width: 80%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in;
 

}

.trash{
  width: 20px;
  height: 20px;
}
.header{
  padding:15px;
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: .5px solid rgb(189, 195, 199); ;
}
.dashboard--header{
   justify-content: end;
}
.right--header{
  justify-content: start;
  column-gap: 60px;
}
.note__pad--icon{
  width: 20px;
  height: 20px;

}
.select--input{
  height: 22px;
  border-radius: 8px;
 box-shadow: .5px .5px 8px rgb(189, 195, 199) ;
 display: flex;
 justify-content: center;
 align-items: center;
}
.list--info{
  display: flex;
  column-gap: 40px;

}
.completed--info,.all--info,.open--info{
  font-size: 12px;
  
}
.count--list{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(189, 195, 199);
  box-shadow: .5px .5px 8px rgb(189, 195, 199);
  cursor: pointer;
}

.item--info{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}
.text--input{
  height: 593px;
  width: 100%;
  border: .1px solid  rgb(189, 195, 199);
  padding-bottom: 519px;
  padding-left: 20px;
  word-wrap: break-word;
  word-break: break-word;
}
.text--block{
  cursor: pointer;
  padding:12px;
  width: 90%;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(223, 230, 233);
  transition: all .3s ease-in-out;
  
  
}

.text__block-content{
  cursor: pointer;
  padding: 12px;
  width: 90%;
  height:110px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(223, 230, 233);
  transition: all .3s ease-in-out;
}


.title--input{
  
  width: 100%;
  border: .1px solid  rgb(189, 195, 199);
  height: 50px;
  padding-left: 20px;
}
input:focus{
  outline-width: 0;
  
}
.text--content{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.title{
  width: 44px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  color: rgb(45, 52, 54);
}
.date{
  font-size: 10px;
  margin-left: 4px;
  font-weight: 600;
  color: rgb(47, 53, 66);
 

}
.description{
 max-height: 54px;
 height: 30px;
 overflow: hidden;
font-size: 11px;
font-weight: 400;
color: rgb(99, 110, 114);
display: flex;
line-break: anywhere;

}

.trashcan--check{
  display: flex;
  height: 100%;
  align-items: start;
  column-gap: 8px;

}
.trashbox{
  width: 14px;
  height: 14px;
 
}
.hiddentrash{
  display: none;
 
}
.showtext{
  display: flex;
  font-size: 14px;
  color: rgb(99, 110, 114);
}
.not{
  display: none;
}
.title--box{
  height: 24px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: start;

}
.edit--window{
  
 height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}
.ineditor--window{
  padding: 40px;

  justify-content: space-around;
  height: 250px;
  background-color: hsl(192,15.2%,93.5%);
  display: flex;
  flex-direction: row;
  border-radius: 10px;

  

}
.title--window{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 17px 0;
  margin-bottom: 55px;
  row-gap: 40px;

}
.input--form{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
 
}
.submit--button{
  display: flex;
  column-gap: 20px;
  padding-right: 40px;

}
.submit{
  width: 70px;
  height: 45px;
  border-radius: 8px;
  background-color:  rgb(45, 52, 54);
  color: #fff;
  


}
.cancel{
  width: 70px;
  height: 45px;
  border-radius: 8px;
  background-color:  rgb(45, 52, 54);
  
  color: #fff;
}
.title--edit-inut{
  border-radius: 16px;
  border: .5px solid rgb(99, 110, 114);
  width: 150px;
  padding-left: 12px;
  height: 30px;
}
.detail--window{
  font-size: 12px;
  color: rgb(99, 110, 114) ;
}
.not--window{
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;

}
.date--time{
  font-size: 12px;
  white-space: nowrap;
}
@media screen and (max-width:700px) {
  .title--edit-inut{
    width: 100px;
  }
  .input--form{
    padding-left: 10px;
  }
  .submit,.cancel{
    width: 45px;
    height: 30px;
    font-size: 12px;
  }
 
  .right--header{
    column-gap: 20px;
    
  }
  .left--container{
    transition: all .1s ease-in;
    width: 30%;
  }
  .right--container{
    transition: all .1s ease-in;
    width:70%
  }
  .item--info{
    flex-direction: column;
    row-gap: 8px;
  }
  select{
    width: 80px;
    transition:  all .1s ease-in;

  }
  
}
@media screen and (max-width:500px) {
  .left--badge{
    background-color: rgb(220, 221, 225);
    border-radius: 16px;
    transition: all .3s;
    position: absolute;
    left: -90px;
 
    
  }


.left--container{
  background-color: rgb(220, 221, 225);
  border-radius: 16px;
  transition: all .3s ;
  width:55%;
  position: absolute;
  left: 0;
  
}
  .right--container{
    width: 100%;
    transition: all .3s ease-in;

  }
  .right--header{
    column-gap: 40px;
    justify-content: end;
  }
  .displaynav{
    display: none;
  }
  .closenav{
    position: absolute;
    height: 100%;
    width: 100%;
  
   
    
  }
  .title--input{
    padding-left: 60px;

  }
  .text--input{
    padding-left: 60px;
  }

  
}
@media screen and (max-width:380px) {

  .list--info{
    column-gap: 10px;
    transition:  all .1s ease-in;
    
  }
  .item--info{
    row-gap: 4px;
  }
  .completed--info,.all--info,.open--info{
    font-size: 8px;
  }
  .right--header{
    column-gap: 40px;
    align-items: center;
  }
  .small-font{
    column-gap: 20px;
  }
  .ineditor--window{
    padding: 40px;
   
    justify-content: space-around;
    height: 250px;
    background-color: hsl(192,15.2%,93.5%);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  
    
  
  }

}
